h1 {
  font-size: 3rem;
  font-weight: 100;
}

textarea {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  min-height: 8rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 300;
  background:#FFFFFF;
  border: none;
  border-radius: 1rem;
  outline: none;
  box-shadow: 
    18px 18px 30px #D1D9E9, 
    -18px -18px 30px #FFFFFF;
  resize: vertical;
  transition: ease .2s;
  cursor: pointer;
}

textarea::placeholder {
  color: #9fa8da;
}

textarea:focus {
  min-height: 12rem;
  box-shadow: 
    inset 18px 18px 30px #D1D9E9, 
    inset -18px -18px 30px #FFFFFF;
}

/* Chrome/Opera/Safari */
::-webkit-input-placeholder { 
  color: transparent;
}
/* Firefox 19+ */
::-moz-placeholder { 
  color: transparent;
}
/* IE 10+ */
:-ms-input-placeholder { 
  color: transparent;
}
/* Firefox 18- */
:-moz-placeholder { 
  color: transparent;
}

textarea:placeholder-shown {
  background: none;
}

.button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}
.button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}
.button1 {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  margin-left: 1000px;
}
.button1:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);

}
